<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Finder | Chingu Solo Project</title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>Book finder</h1>
    <section class="search">
      <form action="#" class="search__form" @submit="searchBooks">
        <input type="text" class="search__field" placeholder="Search by book title or author..." 
        v-model="query"  @keyup="searchBooks">
        <button class="search__btn">Search</button>
      </form>
      <p class="search__message" v-if="noQuery">Please provide a search query first</p>
    </section>
    <section id="library">
      <p class="loading text-center" v-if="isLoading">Loading...</p>
      <p class="library__message text-center" v-if="noResult">Nothing here yet - Try searching for another book!</p>
      <div class="books" v-if="!noResult">
        <book v-for="item in items" v-bind:item="item"></book>
      </div>
    </section>
  </div>
  <script>
  
  // Book component
  Vue.component('book', {
    props: ['item'],
    template: `
      <div class="book">
        <img class="book__cover" :src="item.volumeInfo.imageLinks.thumbnail" alt="Book cover'">
        <div class="book__infos">
          <h2 class="book__title">{{ item.volumeInfo.title }}</h2>
          <p class="book__descr">
            By <span v-for="author in item.volumeInfo.authors">{{ author }} </span><br>
            <span>Publish by {{ item.volumeInfo.publisher }}</span>
          </p>
          <a :href="item.volumeInfo.infoLink" target="_blank" class="book__link">See this book</a>
        </div>
      </div>
    `
  })

    var app = new Vue({
      el: '#app',
      data: {
        myKey: 'AIzaSyAmpEfiA-vVjWcXTwOsbFzKuHuVdzLsILA',
        noQuery: false,
        isLoading: false,
        noResult: false,
        items: null,
        query: '',
      },
      methods: {
        searchBooks: function(e) {
          e.preventDefault();
          let searchFor = this.query;
          // If a query was typed or submitted
          if(searchFor) {
            // Hide search__message
            this.noQuery = false;
            // Display loading
            this.isLoading = true;
            // Use axios to get data
            axios
            .get('https://www.googleapis.com/books/v1/volumes?q=' + searchFor + '&printType=books&fields=items(volumeInfo/imageLinks,volumeInfo/title,volumeInfo/authors,volumeInfo/publisher,volumeInfo/infoLink)&key=' + this.myKey)
            .then(response => {
              let responseLength = Object.keys(response.data).length;
              // If there is no data, display a message
              if(responseLength == 0) {
                this.noResult = true;
              } else {
                this.noResult = false;
                this.items = response.data.items;
              }
              // Hide loading
              this.isLoading = false;
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
          } 
          // Display message when there is no query
          else {
            this.noQuery = true;
            this.noResult = false;
          }
        }
      }
    })
  </script>
</body>
</html>